#################
## CUSTOM
#################
deprecated/
*.bk*
.htaccess
*.log

#Translations
*.mo

#############
## Composer
#############
vendor/

#############
## Node.js
#############
node_modules
package-lock.json

#################
## PHPStorm
#################
.idea/

#################
## Visual Studio Code
#################
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

#################
## Netbeans
#################
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/nbactions.xml

############
## Windows
############
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## MAC
############
.DS_Store
