/*!
 * Admin Inputs - Layouts.
 *
 * Style for containers & modifications to Bootstrap.
 *
 * @since 1.0.0
 */

@mixin label-outer-props {
	// Added for future use.
	// font-size: 14px;
	font-weight: 600;
	color: #545454;
	margin-top: 3px;
}

@mixin label-outer-selectors {
	> label {
		padding-right: 9%;
	}

	@media (max-width: 782px) {
		margin-top: 9px;
	}
}

// Rows.
.gofer-seo-meta-box > div > .gofer-seo-row {
	margin-bottom: 9px;

	> .gofer-seo-label-outer {
		@include label-outer-props;

		@include label-outer-selectors;
	}
}

.gofer-seo-wrap > div > .gofer-seo-row {
	margin-bottom: 9px;

	> .gofer-seo-label-outer {
		@include label-outer-props;
		font-size: 12px;

		@include label-outer-selectors;
	}
}

.gofer-seo-wrap-dynamic > div > .gofer-seo-row {
	margin-bottom: 9px;
	padding-left: 18px;

	> .gofer-seo-label-outer {
		font-size: 12px;

		@include label-outer-selectors;
	}
}

// Tabs.
.gofer-seo-tabs div.tab-pane {
	padding: 18px 2% 2%;

	> div > div.gofer-seo-row {
		margin-bottom: 18px;

		> .gofer-seo-label-outer {
			@include label-outer-props;
			font-size: 12px;

			@include label-outer-selectors;
		}
	}
}

// Add Field List.
.gofer-seo-add-field-list > .gofer-seo-row {
	margin-bottom: 18px;

	> .gofer-seo-col-12 > div > .gofer-seo-row {
		margin-bottom: 9px;
	}
}


// Responsive @media.
//@media (max-width: 782px) {
//	.gofer-seo-meta-box > div > .gofer-seo-row > .gofer-seo-label-outer,
//	.gofer-seo-wrap > div > .gofer-seo-row > .gofer-seo-label-outer,
//	.gofer-seo-wrap-dynamic > div > .gofer-seo-row > .gofer-seo-label-outer,
//	.gofer-seo-tabs div.tab-pane > div > div.gofer-seo-row > .gofer-seo-label-outer {
//		margin-top: 9px;
//	}
//}
