/*!
 * Admin - Inputs
 *
 * Styling for multiple inputs.
 *
 * @since 1.0.0
 */
/**
 * Gofer SEO - SASS/SCSS Abstract - Variables
 *
 * Contains commonly used values, like color, size, dimensions, etc..
 *
 * @since 1.0.3
 */
.gofer-seo-admin-page .gofer-seo-container p, .gofer-seo-admin-page .gofer-seo-container b, .gofer-seo-admin-page .gofer-seo-container label {
  color: #27221c;
}

.gofer-seo-admin-page .gofer-seo-container a {
  color: #393229;
}

.gofer-seo-admin-page .gofer-seo-container a:hover {
  color: #867560;
}

.gofer-seo-wrap-dynamic > p {
  margin: 0 0 9px 0;
}

.gofer-seo-wrap-dynamic > p > b {
  font-size: 14px;
  font-weight: 700;
}

.gofer-seo-container .gofer-seo-input-wrap input:disabled {
  text-decoration: line-through;
}

.gofer-seo-container .gofer-seo-input-wrap input[readonly] {
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(126, 137, 147, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
  color: rgba(50, 55, 60, 0.5);
}

.gofer-seo-container .gofer-seo-input-wrap input[readonly]:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
}

.gofer-seo-container .gofer-seo-input-wrap textarea:disabled {
  text-decoration: line-through;
}

.gofer-seo-container .gofer-seo-input-wrap textarea[readonly] {
  background: rgba(255, 255, 255, 0.5);
  border-color: rgba(126, 137, 147, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
  color: rgba(50, 55, 60, 0.5);
}

.gofer-seo-container .gofer-seo-input-wrap textarea[readonly]:focus {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap input {
  color: #20180f;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="text"],
.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap input[type="url"] {
  border-color: #3d3833;
  width: 100%;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="text"]:focus,
.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap input[type="url"]:focus {
  border-color: #6c6358;
  box-shadow: 0 0 3px 1px rgba(61, 56, 51, 0.6);
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="number"],
.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range > input[type="number"] {
  padding: 0 0 0 9px;
  border-color: #3d3833;
  box-shadow: inset 0 1px 2px rgba(39, 34, 28, 0.1);
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="number"]:focus,
.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range > input[type="number"]:focus {
  border-color: #6c6358;
  box-shadow: inset 0 1px 2px rgba(39, 34, 28, 0.1);
  outline: 0;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="number"]:hover,
.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range > input[type="number"]:hover {
  border-color: #6c6358;
  box-shadow: 0 0 3px 1px rgba(39, 34, 28, 0.6);
  outline: 2px solid transparent;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="number"]::-webkit-outer-spin-button, .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="number"]::-webkit-inner-spin-button,
.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range > input[type="number"]::-webkit-outer-spin-button,
.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range > input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  width: 1em;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="number"]:hover::-webkit-inner-spin-button,
.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range > input[type="number"]:hover::-webkit-inner-spin-button {
  background: #898f69 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAASCAYAAABvqT8MAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAABR0RVh0VGl0bGUATnVtYmVyIFNwaW5uZXJr6ez+AAAADHRFWHRBdXRob3IARWtvSlKOVX6QAAAAGHRFWHRDcmVhdGlvbiBUaW1lADIwMjItMDEtMjK6g7YRAAAAL3RFWHRTb3VyY2UAaHR0cHM6Ly93b3JkcHJlc3Mub3JnL3BsdWdpbnMvZ29mZXItc2VvLxVSD8sAAABYdEVYdENvcHlyaWdodABDQzAgUHVibGljIERvbWFpbiBEZWRpY2F0aW9uIGh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL3B1YmxpY2RvbWFpbi96ZXJvLzEuMC/G4735AAAAh0lEQVQoke3SvQnCUBiF4UeyQcABBEewCa5g5QDWltkohWPYOoToAoKNhVgppsmFEG+8Btu8cKrv/eD+HOJsUfbMPljhiRfWKXmBO95NHij65BkuLTnkinlXznGMyCFnTGHSLGywTBz3gF3qTiP88aw/f1ybQdUIDCpf4Gu9s8jCCTfsUXWHNWSLMarqPgfzAAAAAElFTkSuQmCC) no-repeat center center;
  border-left: 1px solid #6c6358;
  opacity: 0.5;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="number"]::-webkit-inner-spin-button:hover, .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="number"]::-webkit-inner-spin-button:active,
.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range > input[type="number"]::-webkit-inner-spin-button:hover,
.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range > input[type="number"]::-webkit-inner-spin-button:active {
  box-shadow: 0 0 2px #3d3833;
  opacity: 0.8;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="date"] {
  border-color: #3d3833;
  width: 36%;
  min-width: 150px;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="date"]:focus {
  border-color: #6c6358;
  box-shadow: 0 0 3px 1px rgba(61, 56, 51, 0.6);
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > textarea {
  border-color: #3d3833;
  color: #20180f;
  width: 100%;
  min-height: 45px;
  max-height: 562px;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > textarea:focus {
  border-color: #6c6358;
  box-shadow: 0 0 3px 1px rgba(61, 56, 51, 0.6);
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > select {
  width: 36%;
  min-width: 150px;
  color: #20180f;
  border-color: #3d3833;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > select:focus {
  color: #20180f;
  border-color: #6c6358;
  box-shadow: 0 0 3px 1px rgba(61, 56, 51, 0.6);
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > select:hover {
  color: #43321f;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-radio-item {
  float: left;
  width: 24%;
  margin-top: 5px;
  margin-bottom: 3px;
  padding-right: 1%;
  min-inline-size: fit-content;
}

@media (max-width: 1500px) {
  .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-radio-item {
    width: 29%;
    padding-right: 2%;
  }
}

@media (max-width: 960px) {
  .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-radio-item {
    width: 48%;
    margin-top: 12px;
    margin-bottom: 9px;
  }
}

@media (max-width: 500px) {
  .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-radio-item {
    width: 100%;
    padding-right: 0;
  }
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap .gofer-seo-radio-item label {
  vertical-align: baseline;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-radio-item > input[type="radio"] {
  appearance: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-top: 7px;
  margin-bottom: 3px;
  border-color: #898f69;
  box-shadow: inset 0 1px 2px rgba(39, 34, 28, 0.1);
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-radio-item > input[type="radio"]:focus {
  border-color: #898f69;
  box-shadow: inset 0 1px 2px rgba(39, 34, 28, 0.1);
  outline: 0;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-radio-item > input[type="radio"]:hover {
  border-color: #a0a683;
  box-shadow: 0 0 0 1px rgba(39, 34, 28, 0.6);
  outline: 2px solid transparent;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-radio-item > input[type="radio"]:hover:checked {
  border-color: #898f69;
  box-shadow: inset 0 1px 2px rgba(39, 34, 28, 0.1);
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-radio-item > input[type="radio"]:checked {
  background: #fff;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-radio-item > input[type="radio"]:checked::before {
  background: #898f69;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="checkbox"] {
  margin-top: 7px;
  margin-bottom: 3px;
  border-color: #898f69;
  box-shadow: inset 0 1px 2px rgba(39, 34, 28, 0.1);
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="checkbox"]:focus {
  border-color: #898f69;
  box-shadow: inset 0 1px 2px rgba(39, 34, 28, 0.1);
  outline: 0;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="checkbox"]:hover {
  border-color: #707651;
  box-shadow: 0 0 3px 1px rgba(39, 34, 28, 0.6);
  outline: 2px solid transparent;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="checkbox"]:checked {
  background: #898f69;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="checkbox"]:checked::before {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword -- Dashicons is required. */
  font: 400 21px/1 dashicons;
  content: "\f147";
  color: #fff;
  margin: -3px 0 0 -4px;
}

@media (max-width: 782px) {
  .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="checkbox"]:checked::before {
    font-size: 27px;
    margin: 0 0 0 -5px;
  }
}

@media (max-width: 782px) {
  .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > input[type="checkbox"] {
    margin-top: 8px;
    margin-bottom: 4px;
  }
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item {
  float: left;
  width: 25%;
  margin-top: 5px;
  margin-bottom: 3px;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item input {
  border-color: #898f69;
  box-shadow: inset 0 1px 2px rgba(39, 34, 28, 0.1);
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item input:focus {
  border-color: #898f69;
  box-shadow: inset 0 1px 2px rgba(39, 34, 28, 0.1);
  outline: 0;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item input:hover {
  border-color: #707651;
  box-shadow: 0 0 3px 1px rgba(39, 34, 28, 0.6);
  outline: 2px solid transparent;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item input:checked {
  background: #898f69;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item input:checked::before {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword -- Dashicons is required. */
  font: 400 21px/1 dashicons;
  content: "\f147";
  color: #fff;
  margin: -3px 0 0 -4px;
}

@media (max-width: 782px) {
  .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item input:checked::before {
    font-size: 27px;
    margin: 0 0 0 -5px;
  }
}

@media (max-width: 782px) {
  .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item input {
    margin-top: 8px;
    margin-bottom: 4px;
  }
}

@media (max-width: 1500px) {
  .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item {
    width: 33%;
  }
}

@media (max-width: 960px) {
  .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item {
    width: 50%;
    margin-top: 12px;
    margin-bottom: 9px;
  }
}

@media (max-width: 500px) {
  .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item {
    width: 100%;
  }
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"] {
  -webkit-appearance: none;
  width: 36%;
  min-width: 150px;
  height: 24px;
  margin: 10px 0;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]:focus {
  outline: none;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0 0 0 #000;
  border: 0 solid #000;
  height: 18px;
  width: 30px;
  border-radius: 9px;
  background: #27221c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]::-moz-range-thumb {
  box-shadow: 0 0 0 #000;
  border: 0 solid #000;
  height: 18px;
  width: 30px;
  border-radius: 9px;
  background: #27221c;
  cursor: pointer;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0 0 0 #000;
  border: 0 solid #000;
  height: 18px;
  width: 30px;
  border-radius: 9px;
  background: #27221c;
  cursor: pointer;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]:hover::-webkit-slider-thumb, .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]:hover::-moz-range-thumb, .gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]:hover::-ms-thumb {
  background-color: #897762 !important;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0 0 0 #000;
  background: #898f69;
  border-radius: 9px;
  border: 0 solid #000;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]:active::-webkit-slider-runnable-track {
  background: #b1b59a;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0 0 0 #000;
  background: #898f69;
  border-radius: 9px;
  border: 0 solid #000;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"] input[type="range"]::-webkit-progress-value {
  background-color: #a8c023;
  height: 9px;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"] input[type="range"]::-moz-range-progress {
  background-color: #a8c023;
  height: 9px;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]::-ms-fill-lower {
  background: #898f69;
  border: 0 solid #000;
  border-radius: 16px;
  box-shadow: 0 0 0 #000;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]::-ms-fill-upper {
  background: #e4e8d1;
  border: 0 solid #000;
  border-radius: 16px;
  box-shadow: 0 0 0 #000;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]:focus::-ms-fill-lower {
  background: #898f69;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="range"]:focus::-ms-fill-upper {
  background: #e4e8d1;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap.gofer-seo-input-type-range input[type="number"] {
  width: 54px;
}

.gofer-seo-container:not(.gofer-seo-user-editor) .gofer-seo-input-wrap .gofer-seo-image-media-button {
  margin-bottom: 3px;
}

.gofer-seo-user-editor.gofer-seo-container {
  width: 100%;
  padding: 0;
}

.gofer-seo-user-editor .gofer-seo-input-wrap > input[type="text"],
.gofer-seo-user-editor .gofer-seo-input-wrap > input[type="url"] {
  width: 25em;
}

.gofer-seo-user-editor .gofer-seo-input-wrap > select {
  width: 15em;
  min-width: unset;
}

.gofer-seo-add-field-list table.gofer-seo-add-field-list-table {
  width: 100%;
  border: 1px #cec7b2 outset;
}

.gofer-seo-add-field-list table.gofer-seo-add-field-list-table:empty {
  display: none;
}

.gofer-seo-add-field-list table.gofer-seo-add-field-list-table > thead {
  font-size: 10px;
  text-align: left;
  background: #cec7b2;
  line-height: 1.8;
}

.gofer-seo-add-field-list table.gofer-seo-add-field-list-table > thead th {
  padding: 6px 9px;
}

@media (max-width: 513px) {
  .gofer-seo-add-field-list table.gofer-seo-add-field-list-table > thead {
    font-size: 8px;
  }
  .gofer-seo-add-field-list table.gofer-seo-add-field-list-table > thead th {
    padding: 3px 1px;
  }
}

.gofer-seo-add-field-list table.gofer-seo-add-field-list-table > tbody {
  font-size: 12px;
}

.gofer-seo-add-field-list table.gofer-seo-add-field-list-table > tbody > tr:nth-child(even) {
  background: #f4f5f0;
}

.gofer-seo-add-field-list table.gofer-seo-add-field-list-table > tbody > tr > td {
  overflow-wrap: anywhere;
}

@media (max-width: 513px) {
  .gofer-seo-add-field-list table.gofer-seo-add-field-list-table > tbody {
    font-size: 9px;
  }
}

.gofer-seo-add-field-robots-txt > .gofer-seo-row > div.gofer-seo-col-12 > .gofer-seo-row .gofer-seo-add-item-robots-txt-user-agent-button,
.gofer-seo-add-field-robots-txt > .gofer-seo-row > div.gofer-seo-col-12 > .gofer-seo-row .gofer-seo-add-item-robots-txt-sitemap-button {
  height: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

.gofer-seo-add-field-robots-txt > .gofer-seo-row > div.gofer-seo-col-12 > .gofer-seo-row:first-child {
  margin-bottom: 0;
}

.gofer-seo-add-field-robots-txt > .gofer-seo-row > div.gofer-seo-col-12 > .gofer-seo-row > div > .gofer-seo-row > div input {
  width: 100%;
}

.gofer-seo-add-field-robots-txt > .gofer-seo-row > div.gofer-seo-col-12 > .gofer-seo-row > div > .gofer-seo-row > div select {
  min-width: 111px;
}

.gofer-seo-add-field-robots-txt > .gofer-seo-row > div.gofer-seo-col-12.gofer-seo-add-field-robots-txt-sitemaps > .gofer-seo-row > div > .gofer-seo-row,
.gofer-seo-add-field-robots-txt > .gofer-seo-row > div.gofer-seo-col-12.gofer-seo-add-field-robots-txt-user-agents > .gofer-seo-row > div > .gofer-seo-row {
  margin-bottom: 0;
}

.gofer-seo-add-field-robots-txt > .gofer-seo-row > div.gofer-seo-col-12.gofer-seo-add-field-robots-txt-sitemaps > .gofer-seo-row > div > .gofer-seo-row > div,
.gofer-seo-add-field-robots-txt > .gofer-seo-row > div.gofer-seo-col-12.gofer-seo-add-field-robots-txt-user-agents > .gofer-seo-row > div > .gofer-seo-row > div {
  margin-right: 1px;
  -ms-flex: 0 0 32.333333%;
  flex: 0 0 32.333333%;
  max-width: 32.333333%;
}

.gofer-seo-add-field-robots-txt table.gofer-seo-add-field-robots-txt-table {
  width: 100%;
  border: 1px #cec7b2 outset;
}

.gofer-seo-add-field-robots-txt table.gofer-seo-add-field-robots-txt-table:empty {
  display: none;
}

.gofer-seo-add-field-robots-txt table.gofer-seo-add-field-robots-txt-table > thead {
  text-align: left;
  background: #cec7b2;
  line-height: 1.8;
}

.gofer-seo-add-field-robots-txt table.gofer-seo-add-field-robots-txt-table > thead th {
  padding: 6px 9px;
}

.gofer-seo-add-field-robots-txt table.gofer-seo-add-field-robots-txt-table > tbody > tr:nth-child(even) {
  background: #f4f5f0;
}

/* stylelint-disable selector-class-pattern -- Select2 uses their own pattern. */
.gofer-seo-input-type-select2-multi-select .select2-container .select2-selection--multiple {
  min-height: 45px;
  max-height: 562px;
  border: 1px solid #525835;
  resize: vertical;
  overflow-wrap: break-word;
  overflow: auto;
}

.gofer-seo-input-type-select2-multi-select .select2-container .select2-selection--multiple .select2-selection__choice {
  height: 18px;
  padding: 1px 9px 2px 5px;
  margin: 7px 6px 2px 0;
  background: #707651;
  color: #fff;
}

.gofer-seo-input-type-select2-multi-select .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  color: #fff;
}

.gofer-seo-input-type-select2-multi-select .select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove:hover {
  color: #ff7575;
}

.gofer-seo-input-type-select2-multi-select .select2-container .select2-selection--multiple .select2-search__field {
  min-height: 27px;
}

.gofer-seo-input-type-select2-multi-select .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #7e8993;
}

.select2-container .select2-dropdown .select2-results > ul.select2-results__options .select2-results__group {
  border-bottom: #27221c;
}

.select2-container .select2-dropdown .select2-results > ul.select2-results__options ul.select2-results-options li.select2-results__option {
  margin: 0;
}

.select2-container .select2-dropdown .select2-results > ul.select2-results__options ul.select2-results-options li.select2-results__option:nth-child(even) {
  background-color: #f0eeeb;
}

/* stylelint-enable */
.gofer-seo-tabs .nav-link {
  color: #20180f;
}

.gofer-seo-tabs .nav-link:hover, .gofer-seo-tabs .nav-link:focus {
  color: #cec7b2;
}

.gofer-seo-tabs .nav-tabs {
  padding: 0 1%;
  border-bottom: unset;
}

.gofer-seo-tabs .nav-tabs .nav-link {
  padding-bottom: 0.4rem;
  border-style: solid;
  border-color: #cec7b2;
  border-width: 1px 1px 0 1px;
  text-decoration: none;
  font-weight: 600;
  background-color: #f4f5f0;
  box-shadow: inset 0 -1px 2px 0 #20180f;
}

.gofer-seo-tabs .nav-tabs .nav-link.active {
  border-bottom: 3px solid #ff7800;
  box-shadow: 0 1px 3px 0 #27221c;
}

.gofer-seo-tabs .tab-content {
  border-top: 1px solid #cec7b2;
  border-right: 1px solid #cec7b2;
  border-bottom: 1px solid #cec7b2;
  border-left: 1px solid #cec7b2;
  border-radius: 6px;
  box-shadow: 0 1px 9px #6c6358;
}
