/*!
 * Admin - Inputs
 *
 * Styling for multiple inputs.
 *
 * @since 1.0.0
 */

// Wrap Header (bold wrap).
.gofer-seo-wrap-dynamic {
	> p {
		margin: 0 0 9px 0;

		> b {
			color: #545454;
			font-size: 14px;
			font-weight: 700;

			@media (max-width: 782px) {
				// stylelint-disable comment-empty-line-before -- Commented code for future refactor.
				// font-size: 14px;
				// font-weight: 700;
				// stylelint-enable
			}
		}
	}
}

// *** INPUTS ***
// Admin/All Pages.
.gofer-seo-input-wrap {
	input {
		&:disabled {
			text-decoration: line-through;
		}

		&[readonly] {
			background: rgba(255, 255, 255, 0.5);
			border-color: rgba(126, 137, 147, 0.3);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
			color: rgba(50, 55, 60, 0.5);
		}
	}
	> input[type="text"],
	input[type="url"] {
		width: 100%;
	}

	> input[type="date"] {
		width: 36%;
		min-width: 150px;
	}

	> textarea {
		width: 100%;
		min-height: 45px;
		max-height: 562px;

		&:disabled {
			text-decoration: line-through;
		}

		&[readonly] {
			background: rgba(255, 255, 255, 0.5);
			border-color: rgba(126, 137, 147, 0.3);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
			color: rgba(50, 55, 60, 0.5);
		}
	}

	> select {
		width: 36%;
		min-width: 150px;
	}

	// Radio.
	> .gofer-seo-radio-item {
		float: left;
		width: 24%;
		margin-top: 5px;
		margin-bottom: 3px;
		padding-right: 1%;
		min-inline-size: fit-content;

		@media (max-width: 1500px) {
			width: 29%;
			padding-right: 2%;
		}

		@media (max-width: 960px) {
			width: 48%;
			margin-top: 12px;
			margin-bottom: 9px;
		}

		@media (max-width: 500px) {
			width: 100%;
			padding-right: 0;
		}
	}

	.gofer-seo-radio-item label {
		vertical-align: baseline;
	}

	> input[type="radio"] {
		appearance: auto;
		-webkit-appearance: none;
		-moz-appearance: none;
		margin-top: 7px;
		margin-bottom: 3px;

		&:checked {
			background: #6ab66a;

			&::before {
				background: #6ab66a;
			}
		}

		&:focus {
			border-color: rgb(126, 137, 147);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			outline: 0;
		}
	}

	// Checkbox.
	> input[type="checkbox"] {
		margin-top: 7px;
		margin-bottom: 3px;

		&:checked {
			background: #6ab66a;

			&::before {
				font: 400 21px/1 dashicons;
				content: "\f147";
				color: #fff;
				margin: -3px 0 0 -4px;

				@media (max-width: 782px) {
					font-size: 27px;
					margin: 0 0 0 -5px;
				}
			}
		}

		&:focus {
			border-color: rgb(126, 137, 147);
			box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
			outline: 0;
		}

		&:hover {
			border-color: #9ce69c;
			box-shadow: 0 0 0 1px #7fbb7f;
			outline: 2px solid transparent;
		}

		@media (max-width: 782px) {
			margin-top: 8px;
			margin-bottom: 4px;
		}
	}

	// Multi-Checkbox.
	> .gofer-seo-multi-checkbox-item {
		float: left;
		width: 25%;
		margin-top: 5px;
		margin-bottom: 3px;

		@media (max-width: 1500px) {
			width: 33%;
		}

		@media (max-width: 960px) {
			width: 50%;
			margin-top: 12px;
			margin-bottom: 9px;
		}

		@media (max-width: 500px) {
			width: 100%;
		}
	}

	// Range.
	&.gofer-seo-input-type-range input[type="range"] {
		width: 36%;
		min-width: 150px;
	}

	&.gofer-seo-input-type-range input[type="number"] {
		width: 54px;
	}

	// Image Media.
	.gofer-seo-image-media-button {
		margin-bottom: 3px;
	}

	.gofer-seo-image-media-text {}

	//.gofer-seo-image-media-img {
	//	width: 100%;
	//}
}

// User Editor Page.
.gofer-seo-user-editor {
	&.gofer-seo-container {
		width: 100%;
		padding: 0;
	}

	.gofer-seo-input-wrap {
		> input[type="text"],
		> input[type="url"] {
			width: 25em;
		}

		> select {
			width: 15em;
			min-width: unset;
		}
	}
}

// Add Field List.
.gofer-seo-add-field-list {
	table.gofer-seo-add-field-list-table {
		width: 100%;
		border: 1px #d0cbcb outset;

		&:empty {
			display: none;
		}

		> thead {
			text-align: left;
			background: #cfd0d1;
			line-height: 1.8;

			th {
				padding: 6px 9px;
			}
		}

		> tbody > tr:nth-child(even) {
			background: #f1f3f8;
		}
	}
}

// Add Field Robots.txt.
.gofer-seo-add-field-robots-txt {
	table.gofer-seo-add-field-robots-txt-table {
		width: 100%;
		border: 1px #d0cbcb outset;

		&:empty {
			display: none;
		}

		> thead {
			text-align: left;
			background: #cfd0d1;
			line-height: 1.8;

			th {
				padding: 6px 9px;
			}
		}

		> tbody > tr:nth-child(even) {
			background: #f1f3f8;
		}
	}
}

// Select2.
.gofer-seo-input-type-select2-multi-select {
	.select2-selection--multiple {
		min-height: 45px;
		max-height: 562px;
		border: 1px solid #7e8993;
		resize: vertical;
		overflow-wrap: break-word;
		overflow: auto;
	}

	.select2-container--default.select2-container--focus .select2-selection--multiple {
		border: 1px solid #7e8993;
	}
}

// Tabs.
.gofer-seo-tabs {
	.nav-tabs {
		padding: 0 1%;
		border-bottom: unset;

		.nav-link {
			padding-bottom: 0.4rem;
			border-style: solid;
			border-color: #dfdfdf;
			border-width: 1px 1px 0 1px;
			text-decoration: none;
			font-weight: 600;
			background-color: #eeeeef;
			box-shadow: inset 0 -1px 2px 0 #00000063;

			&.active {
				border-bottom: 3px solid #007cba;
				box-shadow: 0 2px 3px 0 rgba(71, 185, 226, 0.75);
			}
		}
	}

	.tab-content {
		border-top: 1px solid #dee2e6;
		border-right: 1px solid #dee2e6;
		border-bottom: 1px solid #dee2e6;
		border-left: 1px solid #dee2e6;
		border-radius: 6px;
		box-shadow: 0 1px 9px #e9edf1;
	}
}


// Responsive @media.
// Radio.
//@media (max-width: 1500px) {
//	.gofer-seo-input-wrap > .gofer-seo-radio-item {
//		width: 29%;
//		padding-right: 2%;
//	}
//}
//
//@media (max-width: 960px) {
//
//	.gofer-seo-input-wrap > .gofer-seo-radio-item {
//		width: 48%;
//		margin-top: 12px;
//		margin-bottom: 9px;
//	}
//}
//
//@media (max-width: 500px) {
//
//	.gofer-seo-input-wrap > .gofer-seo-radio-item {
//		width: 100%;
//		padding-right: 0;
//	}
//}
//
//// Checkbox.
//@media (max-width: 782px) {
//
//	.gofer-seo-input-wrap > input[type="checkbox"] {
//		margin-top: 8px;
//		margin-bottom: 4px;
//	}
//
//	.gofer-seo-input-wrap input[type="checkbox"]:checked::before {
//		font-size: 27px;
//		margin: 0 0 0 -5px;
//	}
//}
//
//// Multi-Checkbox.
//@media (max-width: 1500px) {
//	.gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item {
//		width: 33%;
//	}
//}
//
//@media (max-width: 960px) {
//	.gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item {
//		width: 50%;
//		margin-top: 12px;
//		margin-bottom: 9px;
//	}
//}
//
//@media (max-width: 500px) {
//	.gofer-seo-input-wrap > .gofer-seo-multi-checkbox-item {
//		width: 100%;
//	}
//}
